build
client/support/samples
client/src/main/webapp/css/*.css
client/src/main/webapp/partials/*.html
node_modules
out
projectFilesBackup*
target
tmp
.DS_Store
.gradle
.idea
*.iml
*.ipr
*.iws
*.log
*.swp
