<div ng-controller="BooksController" ng-init="init()">
    <h1>Items for sale</h1>

    <p>Information shamelessly borrowed from <a href="http://www.guardian.co.uk/books/2003/oct/12/features.fiction">The Guardian</a></p>

    <table id="booksforsale" class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author(s)</th>
            <th>Description</th>
            <th>ISBN-13</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="book in books">
            <td>{{book.title}}</td>
            <td><span ng-repeat="author in book.authors">{{$last && author || author + ', '}}</span></td>
            <td>{{book.description}}</td>
            <td>{{book.isbn13}}</td>
            <td>{{book.price}}</td>
        </tr>
        </tbody>
        <tfoot></tfoot>
    </table>

</div>